
.home.content{
  padding: 7.5rem 2rem;color: #fff;
    background: url('/img/home-img.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}
.content{min-height: 40rem;width: 100%;    font-family: Oswald;text-align: center}
.nav_is_visible .content{left: -50px;}
  .menu{    background: #001016;
  }
  #main-side-nav ul {
    padding: 0px;
  }
  #main-side-nav ul li{border-bottom: 1px solid #dacccd;}
  .nav_is_visible .button.close{
      left: -30px
  }
  .profile-img-name{
    text-align: center;
  }
  .profile-img{
    height: 200px;
    width: 100%;
  }
  .profile-img-name .caption{
    padding: 10px;
    background: #00a3e1;color: #fff;font-size:1.3rem;
  }
  .social-media{font-size: 15px}
  .social-icons{padding: 0.5rem 0}
  .social-icons div{
    height: 20px;text-align: center;
    width: 20px;margin-right: 3px;
    background-size: cover !important;
    border-radius: 4px;
  }
  .social-icons a{
    padding: 0 !important;
    transform: none !important;
  }
  .copyright span{font-size: 14px}
  .facebook-bg{background: #4B63A2}
  .youtube-bg{background: #FD3832}
  .twitter-bg{background: #4EBEED}
  .linkedin-bg{background: #158BCC}

  
  /*colors preset */
  .main-y-color{color:#C2BC16}
  .main-y-bg{background:#C2BC16}
  .main-border{border: 1px solid #adaca9}
  /* /colors preset */

  /* about us */
.section-title span:first-child{border-bottom: 2px solid #C2BC16}
.section-title span:not(:first-child){color: #C2BC16}
.content.aboutus{padding: 4.5rem}

.backm{    min-height: 25rem;
  border-radius: 5px;}
  .profile-picture {
    height: 24.5rem;
    width: 99%;
    float: right;
  }
  .profile-picture img{
    height: 100%; width: 100%; border-radius: 5px; 
    border-top-left-radius: 0px; border-bottom-right-radius: 0px;
  }
  @media(max-width:575px){
  #profile-picture-over{
    padding: 0;
  }
}
  .aboutus p{font-size: 0.9rem;
    line-height: 1.8;}
  #generalinfo > div{
    background: #E9E8EE;
  }
  #generalinfo > div > h6{color: #252121}
  #generalinfo > div span{
    font-size: 0.9rem;color: #73706a;
  }
  .aboutus .social-icons a{
    color: #a09c94;
    border-radius: 50%;
    border: 1px solid;
    padding: 1px 7px !important;
    outline: 0;margin-left: 5px
  }
  .aboutus .social-icons a:first-child{padding: 2px 11px !important;}
  .aboutus .social-icons a:hover{color: #fff;background: #C2BC16}
  .skills .outer-progress{border-radius: 1.5rem;margin-bottom: 1rem;}
  .skills .progress{    height: 0.5rem;border-radius: 1.5rem;}
  /* end */
  /* resume */
 .resume.content .heading{padding: 8px 20px;
  border-left: 9px solid;}
  .resume-duration{font-size: 0.8rem !important;}
  .resume.content i{ color: #C2BC16}
  .resume .btn-resume,.resume .btn-send-message{
    background: #00a3e1;    padding:0.3rem 0.4rem;border-radius: 5px;
    margin-right:3px;color:#fff
  }
  .resume .btn-resume:hover,.resume .btn-send-message:hover{
    background: #0d7aa4;
  }
  /*end */

  